				<div class="card fluid">
					<h2>Frequently Asked Questions</h2>
					<div class="section">
						<h3 id="deviceChoice">Device Choice<a href="#deviceChoice">¶</a></h3>

						<h4 id="guidelines">Any guidelines for choosing a device?<a href="#guidelines">¶</a></h4>
						<p>Yes, please for your own sake avoid devices with the following:</p>
						<ul>
							<li>Carrier branding</li>
							<li>No access to fastboot and/or requiring to create an account</li>
							<li>Less than 6GB of RAM</li>
							<li>Less than 64GB of storage</li>
							<li>Less than a 2000mAh battery</li>
							<li>Released before 2017</li>
							<li>Non-Qualcomm/Tensor SoC, eg. MediaTek/Exynos/Tegra/OMAP</li>
							<li>Kernel older than 4.4</li>
						</ul>
						<p>And for the best experience:</p>
						<ul>
							<li>At least 8GB of RAM</li>
							<li>At least 128GB of storage</li>
							<li>At least an SD845 SoC</li>
							<li>At least kernel 4.9, preferably newer.</li>
						</ul>

						<h4 id="recommendPhone">What phone do you recommend?<a href="#recommendPhone">¶</a></h4>
						<p>The Pixel 6/6a/7/7a series. 6a is an excellent value on sale and it will receive support from Google until July 2027. Otherwise please see the <a href="/pages/devices_golden">list of "golden" devices</a>.</p>

						<h4 id="recommendTablet">What tablet do you recommend?<a href="#recommendTablet">¶</a></h4>
						<p>Note: None of these devices meet the above requirements.</p>
						<ul>
							<li>Google Pixel C (dragon)</li>
							<li>Google Nexus 9 (flounder)</li>
							<li>Google Nexus 7 2013 (flox)</li>
						</ul>

						<h4 id="install">Can I send you my phone to install DivestOS for me?<a href="#install">¶</a></h4>
						<p>No. You can however join the chat room and ask for install help.</p>

						<h4 id="pixelWarning">A note on Google Pixels<a href="#pixelWarning">¶</a></h4>
						<p>Seemingly any Verizon, Telus, Rogers, or EE carrier variants cannot be bootloader unlocked. In general always avoid such.</p>
					</div>

					<div class="section">
						<h3 id="deviceSupport">Device Support<a href="#deviceSupport">¶</a></h3>

						<h4 id="supportStatus">Are all devices supported equally?<a href="#supportStatus">¶</a></h4>
						<p>No, some devices have much better support than others.</p>

						<h4 id="deviceStatus">What is the difference between the different device statuses on the downloads page?<a href="#deviceStatus">¶</a></h4>
						<ul>
							<li>Tested Working: This is a device we've personally tested working.</li>
							<li>Reported Working: A user has come forward and reported the device working.</li>
							<li>Very Likely Working: The device has had many updater checks for it over a prolonged period.</li>
							<li>Likely Working: A similar device in its series is at least `Very Likely Working`.</li>
							<li>Mostly Working: The device is daily drivable, but some functionality may be unavailable such as the camera.</li>
							<li>Untested: The device hasn't been tested, reported, or had any updater checks for it.</li>
							<li>Broken: The device doesn't boot or has critical functionality impacted.</li>
						</ul>

						<h4 id="incrementalSupport">What devices support incremental/delta OTA updates?<a href="#incrementalSupport">¶</a></h4>
						<p>Previously all devices were supported, however there were issues on many legacy devices failing to properly apply them leaving the install in an inconsistent state. Now only update_engine devices have incrementals generated.<br>As of 2024/03/02 that is: <code>akari, akatsuki, alioth, Amber, apollon, aura, aurora, avicii, barbet, bluejay, blueline, bonito, bramble, cheetah, cheryl, coral, crosshatch, davinci, discovery, enchilada, fajita, flame, FP3, FP4, guacamole, guacamoleb, hotdog, hotdogb, instantnoodle, instantnoodlep, kebab, kirin, lemonade, lemonadep, lemonades, marlin, mata, mermaid, oriole, panther, pioneer, pro1, pro1x, raven, redfin, sailfish, sargo, sunfish, taimen, vayu, voyager, walleye, xz2c</code></p>

						<h4 id="randomMAC">What devices support Wi-Fi MAC randomization?<a href="#randomMAC">¶</a></h4>
						<p>As of 2024/03/02: <code>akari, akatsuki, alioth, Amber, apollon, aura, aurora, avicii, barbet, beryllium, bluejay, blueline, bonito, bramble, cheeseburger, cheetah, cheryl, coral, crosshatch, davinci, dipper, discovery, dumpling, enchilada, equuleus, fajita, flame, FP4, guacamole, guacamoleb, hotdog, hotdogb, instantnoodle, instantnoodlep, jasmine_sprout, kebab, kirin, lavender, lemonade, lemonadep, lemonades, lmi, mata, mermaid, oriole, panther, pioneer, platina, polaris, pro1, pro1x, raven, redfin, sargo, star2lte, starlte, sunfish, taimen, twolip, ursa, vayu, voyager, walleye, wayne, whyred, xz2c</code></p>

						<h4 id="kernelCFI">What devices have CFI enabled kernels?<a href="#kernelCFI">¶</a></h4>
						<p>As of 2024/03/02:</p>
						<ul>
							<li>CFI enabled: none yet</li>
							<li>CFI and SCS enabled: blueline/crosshatch, bonito/sargo, coral/flame/sunfish, bramble/redfin/barbet, oriole/raven/bluejay, cheetah/panther, FP4, lemonade*</li>
							<li>CFI supported, but not enabled: akari/akatsuki/aurora/xz2c, avicii, cheryl, beryllium/dipper/equuleus/polaris/ursa, davinci, FP3</li>
							<li>CFI and SCS supported, but not enabled: alioth/apollon/lmi, guacamole*/hotdog*, vayu, instantnoodle*/kebab</li>
							<li>CFI supported, but tested non-functional as is: enchilada/fajita</li>
						</ul>

						<h4 id="mallocUse">What memory allocator is used?<a href="#mallocUse">¶</a></h4>
						<p>As of 2024/03/02:</p>
						<ul>
							<li>jemalloc for 32-bit and 64-bit: all 14.1 and 15.1 devices</li>
							<li>jemalloc for 32-bit and hardened_malloc for 64-bit: all 16.0 and 17.1 devices</li>
							<li>scudo for 32-bit and hardened_malloc for 64-bit: all 18.1, 19.1, and 20.0 devices</li>
							<li>Exception: These devices use jemalloc for 32-bit instead of scudo: akari/akatsuki/aurora/xz2c, cheryl, klte, hlte</li>
						</ul>

						<h4 id="lowram">Why does DivestOS enable low_ram mode when Google only recommends it for <=2GB devices?<a href="#lowram">¶</a></h4>
						<p>The OnePlus 3 released with Android 6.0 and had 6GB of RAM. Running Android 11 on a device that released with Android 4.2 and 2GB of RAM is much more usable when the system isn't hogging all the resources.</p>

						<h4 id="lowramMode">What devices have low_ram mode set?<a href="#lowramMode">¶</a></h4>
						<p>As of 2024/03/02</p>
						<ul>
							<li>14.1: <2GB</li>
							<li>15.1: <2GB</li>
							<li>16.0: <2GB</li>
							<li>17.1: <3GB</li>
							<li>18.1: <3GB</li>
							<li>19.1: <4GB</li>
							<li>20.0: <4GB</li>
						</ul>

						<h4 id="deviceBootloader">What devices are known to have faulty/insecure bootloaders?<a href="#deviceBootloader">¶</a></h4>
						<p>These are vendor limitations and apply to any OS. This list must be assumed incomplete. As of 2024/03/02:</p>
						<ul>
							<li>Trusts test-keys for verified boot:
								<ul>
									<li>Impact: Combined with the ability to write to system partitions this may allow an attacker to write data that will pass verified boot checks.</li>
									<li>Affected Devices: enchilada/fajita, FP3, <a href="https://forum.fairphone.com/t/bootloader-avb-keys-used-in-roms-for-fairphone-3-4/83448/11" target="_blank" rel="nofollow noopener noreferrer">FP4</a></li>
								</ul>
							</li>
							<li>Can't be relocked (with a custom OS):
								<ul>
									<li>Impact: When unlocked, an attacker can trivally flash partitions without risk of erasing user-data. Additionally verified boot is only enforcing when locked. Verified boot raises the barrier of local attacks and helps mitigate persistence of remote attacks.</li>
									<li>Affected Devices: <a href="https://calyxos.org/news/2022/07/06/oneplus-android-12-relock-issue/" target="_blank" rel="nofollow noopener noreferrer">OnePlus 7 and newer</a>, Motorola, Samsung, Xiaomi</li>
								</ul>
							</li>
							<li>EDL access <a href="https://github.com/bkerler/loaders" target="_blank" rel="nofollow noopener noreferrer">available</a>:
								<ul>
									<li>Impact: Allows replacing partitions at will. Can even allow dumping entire RAM (including secrets) and/or partition (including userdata) contents.</li>
									<li>Affected Devices: axolotl, FP2, FP3, bacon, oneplus2, oneplus3/t, cheeseburger/dumpling, enchilada/fajita, hotdog*/guacamole*, avicii, instantnoodle*/kebab/lemonades, lemonade*</li>
								</ul>
							</li>
							<li>Qualcomm Crashdump enabled:
								<ul>
									<li>Impact: When combined with EDL access this allows dumping complete RAM contents at runtime without any restrictions.</li>
									<li>Affected Devices: enchilada/fajita</li>
								</ul>
							</li>
							<li>Qualcomm Secure Boot disabled:
								<ul>
									<li>Impact: This allows replacing ALL partitions, including the bootloader itself, when combined with EDL access. This directly undermines all other signature checks and verified boot.</li>
									<li>Affected Devices: <a href="https://forum.shiftphones.com/threads/vollstaendiges-backup-ueber-qualcomm-edl-mode.4777/#post-44656" target="_blank" rel="nofollow noopener noreferrer">axolotl</a>, FP2, <a href="https://forum.fairphone.com/uploads/default/original/3X/9/b/9b6fee6021b919e855b5258f76de9738d5b04995.jpeg" target="_blank" rel="nofollow noopener noreferrer">FP3</a></li>
								</ul>
							</li>
							<li>Has alternate manufacture mode available (eg. <a href="https://github.com/steadfasterX/lglaf" target="_blank" rel="nofollow noopener noreferrer">LAF</a>):
								<ul>
									<li>Impact: Allows replacing partitions at will.</li>
									<li>Affected Devices: mako, LG G2, LG G3, LG G4</li>
								</ul>
							</li>
						</ul>

						<h4 id="availableEUICC">What devices have eSIM support?<a href="#availableEUICC">¶</a></h4>
						<p>As of 2024/03/02: Pixel 4 series and newer, along with the Fairphone 4</p>

						<h4 id="volte">Why does VoLTE not work on my device?<a href="#volte">¶</a></h4>
						<ul>
							<li>VoLTE does not work on any Samsung or LGE devices under aftermarket systems.</li>
							<li>The device may lack the necessary configuration files for your carrier and will never work.</li>
							<li>VoLTE may be default disabled for your line. You can check your carrier website or call them to activate it if so.</li>
							<li>Your carrier may only activate VoLTE on "approved" devices.</li>
							<li>Your carrier hasn't actually rolled out VoLTE yet.</li>
						</ul>

						<h4 id="volteTested">What devices is VoLTE known to be working on assuming everything else is in-place?<a href="#volteTested">¶</a></h4>
						<p>As of 2024/03/02: <code>bluejay, flame, cheeseburger, fajita, mata, taimen, FP3</code><br>Can be assumed working: <code>coral, dumpling, enchilada, walleye</code></p>

						<h4 id="noVolte">My device has LTE without VoLTE but my carrier has phased out 2G/3G calling, what can I do?<a href="#noVolte">¶</a></h4>
						<ul>
							<li>Acquire a newer device if possible.</li>
							<li>Otherwise consider a VoIP service like <a href="https://jmp.chat" target="_blank" rel="nofollow noopener noreferrer">JMP.chat</a>.</li>
						</ul>

						<h4 id="gsi">Will you provide GSI images?<a href="#gsi">¶</a></h4>
						<p>No, many of the features in DivestOS such as the deblobber and kernel patching/hardening are incompatible with how GSI images work.</p>

						<h4 id="x86">Will you provide x86 images?<a href="#x86">¶</a></h4>
						<p>No, there is no support in AOSP for running on traditional desktop/laptop computers. It is recommended you instead use <a href="https://getfedora.org/" target="_blank" rel="nofollow noopener noreferrer">Fedora</a> with our <a href="https://divested.dev/pages/software#brace" target="_blank" rel="nofollow noopener noreferrer">Brace</a> package.</p>

						<h4 id="supportOfficial">Can you support X device, that does have an official LineageOS port?<a href="#supportOfficial">¶</a></h4>
						<p>If there is enough demand, yes. The list of already requested devices is tracked <a href="https://codeberg.org/divested-mobile/divestos-build/src/branch/master/TODO-device_additions" target="_blank" rel="nofollow noopener noreferrer">here</a>.</p>

						<h4 id="supportUnofficial">Can you support X device, that doesn't have an (un)official LineageOS port?<a href="#supportUnofficial">¶</a></h4>
						<p>No.</p>
					</div>

					<div class="section">
						<h3 id="system">Operating System<a href="#system">¶</a></h3>

						<h4 id="bugReport">I found a bug! Where do I report it?<a href="#bugReport">¶</a></h4>
						<p>Please see the <a href="/pages/bug_reporting">bug reporting</a> page.</p>

						<h4 id="location">How is location handled?<a href="#location">¶</a></h4>
						<p>DivestOS takes some more extreme care with location compared to most other systems and doesn't work how most people expect.</p>
						<ul>
							<li>GPS is the only provider of location.</li>
							<li>GPS should lock within 2 minutes when outdoors and within 10 minutes indoors. Maximum GPS TTFF is 12.5 minutes due to their orbit and transmission rate.</li>
							<li>Tablets or other devices without GPS support have no mechanism to obtain location.</li>
							<li>Network (cell tower, Wi-Fi, Bluetooth beacon) based location providers such as Google Play Services, Qualcomm IZat, and microG/UnifiedNlp are not supported.</li>
							<li>Enabling the location provider in microG/UnifiedNlp will not do anything as it does not have permission to be a system location provider.</li>
							<li>The primary reason for not supporting network location providers is that they effectively divulge your location to third-parties (eg. Google/Qualcomm/Apple/Mozilla) every time they are used. The alternative offline databases are too small to be realistically effective.</li>
							<li>On Tensor devices both PSDS and SUPL can be used to speedup GPS TTFF. It is recommended to disable SUPL on these devices.</li>
							<li>On newer Qualcomm devices (ones that'd typically use xtra-daemon) SUPL is the only mechanism to obtain the almanac to speedup GPS TTFF. PSDS is not supported. It is not recommended to disable SUPL on these devices as it will cause very long lock times.</li>
							<li>On older Qualcomm devices (ones that'd typically use libloc) PSDS may work in addition to SUPL to speedup GPS TTFF. It is recommended to disable SUPL on these devices.</li>
							<li>On 20.0 and higher you can disable PSDS and SUPL in Settings > Location > Use assisted GPS. This setting will still allow them during emergency calls.</li>
							<li>On 17.1 and higher you can disable SUPL in Settings > Location > Force disable SUPL. This setting will not allow it even during emergency calls.</li>
							<li>On pre 17.1 you can disable SUPL by removing the `supl` APN type from your chosen APN preset.</li>
							<li>DivestOS furthermore disables use of SUPL MSA as well as LPP and LPPe.</li>
							<li>There is a more technical explanation of <a href="/misc/gnss.txt" target="_blank">this here</a>.</li>
						</ul>

						<h4 id="mallocBenefit">What is the benefit of a security focused memory allocator?<a href="#mallocBenefit">¶</a></h4>
						<p>The primary possible benefits of security focused memory allocators are the ability to make attacks harder through out of line metadata, greater randomness, double free detection, use after free detection, invalid free detection, 1-byte buffer over or underflow detection, and some write after free detection, as well as zero on free to reduce data lifetime. Not all memory allocators provide these features. There is a <a href="https://github.com/struct/isoalloc/blob/master/SECURITY_COMPARISON.MD" target="_blank" rel="nofollow noopener noreferrer">comparison table here</a>.</p>

						<h4 id="backups">How do I backup my system?<a href="#backups">¶</a></h4>
						<ul>
							<li>On 17.1 and higher Seedvault is included which should be used to backup user apps that allow it. Using Seedvault to a flash drive over OTG is strongly recommended, but be sure to plug it in occasionally to actually ensure recent backups are available.</li>
							<li>Note: Seedvault can be unreliable, doesn't support work profiles or secondary users, and the file backup option will squash directory hirearchies.</li>
							<li>Many apps have their own backup function, you should use this if Seedvault is unable to backup the app, as a backup backup, or if you're on a version without Seedvault.</li>
							<li>From here you can copy all of internal storage (documents, downloads, pictures/videos) which should also include the Seedvault folder (if you didn't use OTG) along with any app specific exports. You can either use USB MTP or with some setup you can use Syncthing to a remote computer.</li>
						</ul>

						<h4 id="backupApps">What apps have their own backup mechanism?<a href="#backupApps">¶</a></h4>
						<p>The following list is largely user contributed, nor do we necessarily endorse or recommend any of the following apps.<br>Also note some apps only prompt the share menu which can't actually directly save to a file, you can use <a href="https://f-droid.org/en/packages/name.lmj001.savetodevice/" target="_blank" rel="nofollow noopener noreferrer">this app</a> in that case.<br>See the full list <a href="/misc/app-backup.txt" target="_blank">here</a>!</p>

						<h4 id="releaseTesting">What devices do you test on before release?<a href="#releaseTesting">¶</a></h4>
						<ul>
							<li>14.1: thor, toroplus, athene</li>
							<li>15.1: bullhead, dragon, flounder</li>
							<li>16.0: untested</li>
							<li>17.1: clark</li>
							<li>18.1: bacon, d852, flox, m8, klte, hammerhead, mako, sailfish</li>
							<li>19.1: untested</li>
							<li>20.0: bluejay, flame, fajita, cheeseburger, taimen, mata</li>
							<li>Have an unused device? Please consider donating it for better test coverage.</li>
						</ul>

						<h4 id="otaUpdate">Are OTA updates available?<a href="#otaUpdate">¶</a></h4>
						<p>All devices have OTA updates via the Updater app accessible via Settings.</p>

						<h4 id="otaUpdateAll">Do I need to install every update the Updater shows?<a href="#otaUpdateAll">¶</a></h4>
						<p>No, just the latest one.</p>

						<h4 id="otaUpdateSmall">Why does Updater show this tiny update?<a href="#otaUpdateSmall">¶</a></h4>
						<p>That is an incremental OTA, you should prefer them over the full updates when available.</p>

						<h4 id="incrementalOTA">What are incremental/delta OTA updates?<a href="#incrementalOTA">¶</a></h4>
						<p>They are OTA updates that only contain the files changed from the last update, which makes them much smaller to download.</p>

						<h4 id="otaUpdateTime">How long do OTA updates take to install?<a href="#otaUpdateTime">¶</a></h4>
						<p>Devices that use update_engine (they install while in the Updater app) should take 10-20 minutes to install, although may take longer if using other apps, and will pause entirely if the screen is off. Devices that reboot to the recovery to install should be less than 5 minutes, but may be up to 10 minutes on very old devices.</p>

						<h4 id="internalDB">What internal databases are updated?<a href="#internalDB">¶</a></h4>
						<p>AOSP has many internal databases that are often neglected on older versions, however we <a href="https://codeberg.org/divested-mobile/divestos-build/src/branch/master/Scripts/Update_Commons.sh" target="_blank" rel="nofollow noopener noreferrer">provide updates</a> for them as follows.</p>
						<ul>
							<li>14.1+: LineageOS contributors cloud from latest LineageOS version. Provides accurate credits viewable in Settings.</li>
							<li>14.1+: Timezone Databases from latest available. Provides accurate time/offsets for different regions.</li>
							<li>14.1+: Certificate Authority store from AOSP master branch. Improves TLS compatibility and integrity.</li>
							<li>14.1+: APN list from latest LineageOS version. Improves carrier compatibility.</li>
							<li>14.1+: MMS configs from Google Messenger. Improves carrier compatibility.</li>
							<li>15.1+: Visual VoiceMail configs from Google Dialer. Improves carrier compatibility.</li>
							<li><strike>16.0+: carrier_list from AOSP master branch. Improves carrier compatibility.</strike> [disabled due to breakage]</li>
							<li><strike>17.1+: CarrierConfig from AOSP master branch. Improves carrier compatibility.</strike> [disabled due to breakage]</li>
							<li><strike>On supported kernels: Wi-Fi regulations database. Improves Wi-Fi compatibility.</strike> [disabled due to breakage]</li>
						</ul>

						<h4 id="btCodecs">What Bluetooth audio codecs are available (if supported by device)?<a href="#btCodecs">¶</a></h4>
						<ul>
							<li>SBC is available on all versions.</li>
							<li>SBC-XQ is available on select versions, see <a href="#btSBCXQ">below</a>.</li>
							<li>AAC, aptX, and LDAC are available on 15.1 and higher.</li>
							<li>LC3 (LE Audio) is available on 20.0 and higher.</li>
							<li>aptX is available on all 20.0 devices after the March 2023 update as it was open-sourced.</li>
						</ul>

						<h4 id="btSBCXQ">Is Bluetooth SBC-XQ (dual channel SBC) available?<a href="#btSBCXQ">¶</a></h4>
						<ul>
							<li><a href="https://review.lineageos.org/q/topic:bt-sbc-hd-dualchannel-nougat" target="_blank" rel="nofollow noopener noreferrer">14.1</a> has the patches included, but it can only be enabled globally with root which is not supported.</li>
							<li><a href="https://review.lineageos.org/q/topic:bt-sbc-hd-dualchannel" target="_blank" rel="nofollow noopener noreferrer">15.1</a>, <a href="https://review.lineageos.org/q/topic:bt-sbc-hd-dualchannel-pie" target="_blank" rel="nofollow noopener noreferrer">16.0</a>, and <a href="https://review.lineageos.org/q/topic:eleven-bt-sbc-hd-dualchannel" target="_blank" rel="nofollow noopener noreferrer">18.1</a> have it in the per-device Bluetooth settings menu.</li>
							<li><a href="https://review.lineageos.org/q/topic:ten-bt-sbc-hd-dualchannel" target="_blank" rel="nofollow noopener noreferrer">17.1</a> and <a href="https://review.lineageos.org/q/topic:twelve-bt-sbc-hd-dualchannel" target="_blank" rel="nofollow noopener noreferrer">19.1</a> had incomplete patches made, and not merged.</li>
							<li>20.0 has not yet received a port of it.</li>
						</ul>

						<h4 id="lowramChanges">What changes does low_ram mode incur?<a href="#lowramChanges">¶</a></h4>
						<ul>
							<li>On 14.1 through 16.0 jemalloc is set to svelte mode.</li>
							<li>Picture in picture support is disabled.</li>
							<li>Multi-window support is disabled.</li>
							<li>Split-screen support is disabled.</li>
							<li>Live wallpaper support is disabled.</li>
							<li>Secondary displays are mirrored instead of extended.</li>
							<li>The auto-rotate hint is disabled.</li>
							<li>The GPU will be avoided for certain tasks.</li>
							<li>Various graphics throughout the system will be rendered at a lower resolution.</li>
							<li>Some animations and effects are disabled.</li>
							<li>File previews are disabled in the Files app and file picker.</li>
						</ul>

						<h4 id="reduceMemoryUsage">Background apps keep dying! How can I reduce memory usage?<a href="#reduceMemoryUsage">¶</a></h4>
						<ul>
							<li>Uninstall apps you rarely use.</li>
							<li>Reduce the number of background apps running.</li>
							<li>Close apps that you aren't using by swiping them away in the app switcher.</li>
							<li>Use the built-in network controls in favor of VPN-based firewall apps.</li>
							<li>Use the built-in content blocker or `Private DNS` with an adblocking DNS resolver instead of a VPN-based adblock app.</li>
							<li>Use the built-in home launcher instead of a third-party launcher. On modern Android the app switcher/overview is handled by the launcher (Quickstep) and most replacement launchers do not actually implement this, which results in both launchers always running.</li>
							<li>Try to consolidate messaging apps, as an example <a href="https://f-droid.org/packages/eu.siacs.conversations/" target="_blank" rel="nofollow noopener noreferrer">Conversations</a> can talk XMPP, IRC via Biboumi, Matrix via Bifrost, and PSTN via jmp.chat. Conversations can even be a push notification provider for apps supporting <a href="https://unifiedpush.org/users/apps/" target="_blank" rel="nofollow noopener noreferrer">UnifiedPush</a>, which can let them pause entirely.</li>
							<li>Use lighter or more efficient apps such as:<ul>
								<li>Organic Maps instead of OsmAnd, the former uses pre-rendered bitmaps vs the latter's rendered vector maps</li>
								<!--<li>K-9 Mail instead of FairEmail, as the latter always keeps the WebView process loaded</li>-->
								<li>Wireguard instead of OpenVPN in VPN apps</li>
							</ul></li>
							<li>If you use a work profile, pause it when not needed.</li>
							<li>Work profile apps like Shelter and Insular have options to "freeze" individual apps entirely, use it for infrequently used apps.</li>
							<li>Main profile apps can also be "frozen" via apps like SuperFreezZ or Hail, but may cause issues.</li>
							<li>If you use secondary user profiles, use the `End Session` button to completely stop them when not needed.</li>
							<li>At the direct cost of security you can consider installing 32-bit variants of apps.</li>
							<li>Disable the `secure app spawning` feature in Settings > Security.</li>
							<li>Try to reboot your device once every three days to workaround any latent memory leaks.</li>
							<li>Do not bother with "booster" or "cleaner" apps.</li>
							<li>In your web browser, close tabs that are no longer needed.</li>
							<li>In your web browser, only keep extensions that you really need. We only recommend uBlock Origin.</li>
							<li>If you use uBlock Origin, consider enabling the `Ignore generic cosmetic filters` option.</li>
							<li>Use the right tool for the job. Web browsers are great, but sometimes using a dedicated app really is more efficient, such as:<ul>
								<li>using a unit/currency converter app instead of searching it.</li>
								<li>watching YouTube in NewPipe instead of their website.</li>
							</ul></li>
							<li>Use an appropriate resolution wallpaper. While that 8K wallpaper may be breathtaking, it only wastes resources when your screen is a fraction of the resolution. <a href="/images/Black-100x100.png" target="_blank">Here</a> is an all black smallest possible PNG for this.</li>
							<li>Prefer lower resolution video if available. Watching 2K/4K/8K requires more memory for processing and buffering which is just a waste when your screen is only five inches.</li>
						</ul>

						<h4 id="activateEUICC">How do I add an eSIM? (if supported by device)<a href="#activateEUICC">¶</a></h4>
						<ul>
							<li>Settings > Security > Enable eUICC management > enabled.</li>
							<li>Reboot your device.</li>
							<li>You should now have an app 'OpenEUICC' in your launcher.</li>
							<li>Note: OpenEUICC buttons may not be visible if the system dark mode is enabled.</li>
							<li>If it says 'No eUICC found', then you need to tap the top right 3dot and enable "Dual SIM", then reboot.</li>
							<li>Tap the add button.</li>
							<li>If you received a QR code, then tap the barcode scanner button in top right, and scan it.</li>
							<li>If you received only a server and activation code, input it into the respective fields, and tap the checkbox to continue.</li>
							<li>After a few moments your eSIM should be provisioned and start working.</li>
						</ul>

						<h4 id="talkbackRestricted">How do I allow TalkBack on DivestOS 20.0?<a href="#talkbackRestricted">¶</a></h4>
						<ul>
							<li>Settings > Accessibility > TalkBack > Try to open > Shows "Restricted Setting"</li>
							<li>Settings > Apps > See all apps > com.android.talkback > 3dot in top right > Allow restricted settings</li>
							<li>Settings > Accessibility > TalkBack > Use TalkBack</li>
						</ul>

						<h4 id="restrictedSetting">How do I allow this restricted setting thing?<a href="#restrictedSetting">¶</a></h4>
						<p>Depending on the installation source, apps may have some special settings restricted. To allow: Settings > Apps > Special App Access > [the setting] > [the app] > confirm that it is greyed out > tap the icon there > then on that app info screen tap the 3dot in top right > Allow restricted settings.</p>

						<h4 id="altDroid">Should I use an alternative F-Droid client?<a href="#altDroid">¶</a></h4>
						<p>It is not recommend to use an alternative client due to how DivestOS utilizes its own F-Droid repos for updates. Additionally most alternative clients lack mirror support for downloads, incremental index database downloads, or any metadata localization support. If you do want to use one anyway, you MUST do the following:</p>
						<ul>
							<li>Add the `DivestOS Official` repo to receive Mull and Mulch (WebView) updates: <a href="https://divestos.org/fdroid/official/?fingerprint=E4BE8D6ABFA4D9D4FEEF03CDDA7FF62A73FD64B75566F6DD4E5E577550BE8467" target="_blank">https://divestos.org/fdroid/official</a></li>
						</ul>

						<h4 id="networkOnly">Should I use the 'XG only' network mode option (if available)?<a href="#networkOnly">¶</a></h4>
						<p>2G has no encryption, 3G has decent encryption, and LTE has end-to-end encryption (simplified, 3G and LTE still have many leaks). Malicious cell interception devices capable of intercepting 3G/LTE are very expensive kits, so the lesser ones downgrade you to 2G where they can work. These network modes offer enhanced protection against interception by pinning to a mode. As always there are various other ways for your device to be compromised or to have your data intercepted.</p>
						<p>Which to use? If your device has VoLTE available, you should choose 'LTE only'. If it has LTE but you can make calls over 3G, choose 'LTE/3G only'. If it does not have LTE, but can make calls over 3G, choose '3G only'. If you can't make calls over 3G, you will sadly have to use the regular LTE or 3G modes (which happily downgrade to 2G).</p>

						<h4 id="base">Why isn't DivestOS based on X operating system?<a href="#base">¶</a></h4>
						<p>LineageOS has superb device compatibility across the board, along with a strict set of <a href="https://github.com/LineageOS/charter/blob/master/device-support-requirements.md" target="_blank" rel="nofollow noopener noreferrer">baseline requirements</a>. Our build scripts are mostly universal so adding an alternate base if needed is easily doable.</p>

						<h4 id="volte">Why did you only partially remove VoLTE?<a href="#volte">¶</a></h4>
						<p>Many carriers are phasing out their 2G/3G cell towers. Soon it will only be possible to make calls using VoLTE.</p>

						<h4 id="weather">Why did you remove the weather providers?<a href="#weather">¶</a></h4>
						<p>Because they all transmit your location on a somewhat fixed schedule over HTTP.</p>

						<h4 id="theming">Will you add that one theme engine?<a href="#theming">¶</a></h4>
						<p>No.</p>

						<h4 id="sandbox">How can I sandbox my apps?<a href="#sandbox">¶</a></h4>
						<p>All apps on Android are already sandboxed. If you want to be able to grant less-trustworthy apps permissions that they demand such as contacts or files access then install them in a work profile (eg. Shelter). This would let them access any saved contacts or files in the work profile but not of your true main user. So be sure to not actually store any sensitive information in the work profile!</p>

						<h4 id="hardwareID">Can apps access hardware identifiers like the serial number or IMEI?<a href="#hardwareID">¶</a></h4>
						<p>Android 10 and higher prohibits all user apps from accessing: serial number, Wi-Fi & Bluetooth MAC addresses, IMEI, and IMSI. DivestOS 16.0 and higher also ensures apps with a lower targetSdk cannot access the serial number.</p>

						<h4 id="proprietary">Does DivestOS contain proprietary code?<a href="#proprietary">¶</a></h4>
						<p>Yes. All of the devices have hundreds to thousands of proprietary blobs used for hardware enablement. This applies to every aftermarket Android OS and every known shipping Android device. However unlike other systems, DivestOS goes to a great extent to remove proprietary blobs that are not truly necessary as is <a href="https://codeberg.org/divested-mobile/divestos-build/src/branch/master/Scripts/Common/Deblob.sh" target="_blank" rel="nofollow noopener noreferrer">handled here</a>.</p>

						<h4 id="proprietaryLeftovers">Does DivestOS still contain non-device specific proprietary code?<a href="#proprietaryLeftovers">¶</a></h4>
						<p>Yes. Of note: GrapheneOS, CalyxOS, LineageOS, and others contain these too.</p>
						<ul>
							<li>Chromium/Mulch contains Google Play Services and Firebase libraries. Removal of this would noticeable slow down updates leaving users exposed to known security issues for longer.</li>
							<li>ImsServiceEntitlement on A12/19.1 and higher contains Google Play Services and Firebase libraries. Removal of this would break calling functionality on select carriers that utilize FCM for IMS enablement. DivestOS removed this in the September 2023 release.</li>
							<li>The Car/DebuggingRestrictionController on A12/19.1 and higher contains Google Play Services and Firebase libraries. DivestOS removed this in the September 2023 release.</li>
						</ul>

						<h4 id="rootSupport">Why isn't root included/supported?<a href="#rootSupport">¶</a></h4>
						<p>DivestOS does not support or encourage the use of root or runtime modification frameworks.
						<br>Such tools will break the following functions:
							<ul>
								<li>Bootloader locking on verified boot capable devices, preventing the system from booting.</li>
								<li>Verified boot on capable devices, preventing the system from booting.</li>
								<li>Incremental delta OTA updates, will fail to flash.</li>
								<li>You will not be able to use the DivestOS recovery. DivestOS recovery only flashes same-signed ZIPs.</li>
								<li>Lineage add-on backuptool is removed from DivestOS, you will have to reflash your changes every update.</li>
								<li>Will break the trust model that AOSP employs and reduce the integrity of the system.</li>
							</ul>
						Here are some common use cases of rooting and alternatives if available:
							<ul>
								<li>Network Restriction: DivestOS already lets you restrict network for each app by connection type (cellular/Wi-Fi/VPN), when in the background, and optionally completely revoke NETWORK permission.</li>
								<li>Ad/Tracker Blocking: DivestOS includes a tailored <a href="https://divested.dev/pages/dnsbl" target="_blank" rel="nofollow noopener noreferrer">HOSTS</a> file by default for such blocking. The user can further choose to use an alternative DNS or use a local VPN app such as <a href="https://f-droid.org/en/packages/org.jak_linux.dns66" target="_blank" rel="nofollow noopener noreferrer">DNS66</a> or <a href="https://f-droid.org/en/packages/eu.faircode.netguard" target="_blank" rel="nofollow noopener noreferrer">NetGuard</a>.</li>
								<li>Permission Control: Modern AOSP provides far more control of permissions than older versions.</li>
								<li>Data Spoofing: You can run apps in a work profile via <a href="https://f-droid.org/en/packages/net.typeblog.shelter" target="_blank" rel="nofollow noopener noreferrer">Shelter</a>/<a href="https://f-droid.org/en/packages/com.oasisfeng.island.fdroid" target="_blank" rel="nofollow noopener noreferrer">Insular</a> or in a separate user profile to minimize data available to apps when granted related permissions.</li>
								<li>Backup: DivestOS includes <a href="https://calyxinstitute.org/projects/seedvault-encrypted-backup-for-android" target="_blank" rel="nofollow noopener noreferrer">SeedVault</a> on Q/R/S/T for backing up apps and their data to Nextcloud or USB OTG.</li>
								<li>Overclocking: Most mobile system-on-chips have their RAM stacked above the processor. Heat kills. Overclocking can and will reduce the life-span of your device.</li>
								<li>App Removal: Modern AOSP already lets you strictly disable most system installed apps. Furthermore DivestOS already includes <a href="https://codeberg.org/divested-mobile/divestos-build/src/branch/master/Scripts/Common/Deblob.sh" target="_blank" rel="nofollow noopener noreferrer">far fewer</a> system apps compared to most other operating systems.</li>
								<li>Battery Saving: Modern AOSP lets you prohibit apps from running in the background completely and has more advanced idle battery saving features.</li>
								<li>Battery Analysis: You can use <a href="https://developer.android.com/topic/performance/power/setup-battery-historian" target="_blank" rel="nofollow noopener noreferrer">Battery Historian</a> via ADB for extremely detailed battery usage reports.</li>
							</ul>
						</p>
					</div>

					<div class="section">
						<h3 id="appCompatibility">Application Compatibility<a href="#appCompatibility">¶</a></h3>

						<h4 id="appCompat">So Google apps and other proprietary apps won't work at all?<a href="#appCompat">¶</a></h4>
						<p>Many apps will work just fine. Status of some apps is documented <a href="/pages/functionality_tables#apps">here</a></p>
						<ul>
							<li>Apps that hard depend on Play Services won't work, but may work with <a href="#microgEnable">microG enabled</a>.</li>
							<li>Apps that depend on FCM/GCM without a fallback won't have notifications, but may work with <a href="#microgEnable">microG enabled</a>.</li>
							<li>Apps that mandate Google login won't work, but may work with <a href="#microgEnable">microG enabled</a>.</li>
							<li>Apps that depend on SafetyNet won't work.</li>
							<li>Apps that depend on DRM won't work.</li>
							<li>Apps that depend on Play Asset Delivery won't work.</li>
							<li>Apps that Aurora Store labels as "GSF dependent" may actually work just fine.</li>
							<li>Android Auto won't work.</li>
							<li>Some games will be broken by the hardened memory allocator, pick a 32-bit device in the Aurora `spoof manager` instead.</li>
							<li>While not for DivestOS, there is a large list of banking apps and their compatibility status regarding SafetyNet & Play Services documented <a href="https://privsec.dev/posts/android/banking-applications-compatibility-with-grapheneos/" target="_blank" rel="nofollow noopener noreferrer">here</a>.</li>
						</ul>
						<p>If you have an app that isn't working and doesn't contain an error message covering the above (SafetyNet/DRM/Play), try:</p>
						<ul>
							<li>Allowing self debugging: Settings > Security > Enable native code debugging > checked</li>
							<li>Disabling the content blocker: Settings > Security > Disable DNS content blocker > checked (if this fixes it please report so it can be excluded from list)</li>
							<li>17.1 and lower only: Try installing the APK with the source spoofed to the Play Store: <code>adb push example.apk /data/local/tmp && adb shell pm install -i "com.android.vending" -r /data/local/tmp/example.apk</code></li>
							<li>Joining the <a href="/pages/community#chat">chat</a> and asking for help.</li>
						</ul>
						<p>There are also alternative ways to use an incompatible app:</p>
						<ul>
							<li>See if there is an official (progressive) web app version of the app.</li>
							<li>Some services have phone numbers you can call to interact with. (eg. Uber)</li>
							<li>Try to find an <i>official</i> version of the app on the Amazon or Huawei app store. These are unlikely to have any Google dependencies. Be careful as both stores have many fake/impostor apps.</li>
						</ul>

						<h4 id="microgNotes">Anything important I should know about microG?<a href="#microgNotes">¶</a></h4>
						<ul>
							<li>The 'Google device registration' and 'Google SafetyNet' options WILL make microG connect to <a href="https://github.com/microg/GmsCore/wiki/Google-Network-Connections" target="_blank" rel="nofollow noopener noreferrer">Google servers</a>.</li>
							<li>The 'Cloud Messaging' option WILL make microG maintain a persistent connection to <a href="https://github.com/microg/GmsCore/wiki/Google-Network-Connections" target="_blank" rel="nofollow noopener noreferrer">Google servers</a>.</li>
							<li>The 'Cloud Messaging' option does NOT require a Google account.</li>
							<li>The 'Google SafetyNet' option WILL download and execute proprietary obfuscated code from Google and is strongly NOT recommended.</li>
							<li>While microG itself is open source, any apps talking to it will do so using the proprietary Google Play Services library.</li>
						</ul>

						<h4 id="microgEnable">How do I enable microG?<a href="#microgEnable">¶</a></h4>
						<p>microG is NOT supported and NOT recommended, however it can work in an unprivileged fashion on DivestOS 17.1 and higher after the July 2023 update.</p>
						<ol>
							<li>Note: microG on DivestOS is only visible to other apps in the same profile as itself.</li>
							<li>Open system Settings, Security, and toggle on the 'microG enablement' option.</li>
							<li>Open F-Droid, Settings, Repositories, and enable the 'microG' repo. If it isn't listed you can <a href="https://microg.org/download.html" target="_blank" rel="nofollow noopener noreferrer">add it manually</a>.</li>
							<li>In F-Droid search for and install the latest version of the following apps: microG Services Core, microG Services Framework Proxy, microG Companion/FakeStore.</li>
							<li>Note: F-Droid will NOT suggest the latest version of microG as it is marked a beta, but that beta is mandatory. You must scroll down to the versions and manually choose it.</li>
							<li>microG will now work.</li>
							<li>Tip: If you didn't flip the toggle on before installing, simply flip it on and reboot.</li>
						</ol>

						<h4 id="microgOptions">How should I configure microG?<a href="#microgOptions">¶</a></h4>
						<p>Depending on the apps you want to use there are a few different ways you can use microG.</p>
						<ul>
							<li>Some apps don't need microG but check that they were installed via Play, in this case you only need microG Companion/FakeStore and to install the app via `Aurora Store` (via session installer) or `Obtainium`. This mechanism only works on 18.1+ currently, adb workaround still necessary on older versions.</li>
							<li>Some apps will work with microG simply installed without any Google connections, in this case it is strongly recommended to <a href="#networkControl">revoke Network permission</a> from the microG app.</li>
							<li>Some apps need push notifications via Google, for them you must let microG maintain a persistent identifiable connection to Google. Enable 'Google device registration' and 'Cloud Messaging' in microG.</li>
							<li>Some apps require a captcha to be performed by the user, for them you can enable the 'Google SafetyNet' option.</li>
							<li>Some apps require SafetyNet to work, while the option to enable it currently exists it will not work in the unprivileged mode that DivestOS uses and will be removed in a future update.</li>
						</ul>
					</div>

					<div class="section">
						<h3 id="networking">Networking<a href="#networking">¶</a></h3>

						<h4 id="dns">Why haven't you completely changed the default DNS servers?<a href="#dns">¶</a></h4>
						<p>Currently Quad9 is used for DNS fallback and for tethering. Switching it by default for cell would break VoLTE, SMS, MMS, and Visual Voicemail. And switching it for Wi-Fi could potentially break access to some LAN devices.</p>

						<h4 id="privateDNS">Should I use Private DNS?<a href="#privateDNS">¶</a></h4>
						<p>Generally yes you should, otherwise whatever DNS server is advertised by your carrier or Wi-Fi network will be used.<br>Do note however that Private DNS despite its name has limited privacy benefits (due to lack of ESNI/ECH), but does have security benefits and when combined with a DNSSEC enabled resolver will better ensure your DNS requests are not tampered with.</p>

						<h4 id="privateDNSwVPN">Should I use Private DNS when using a VPN/Tor?<a href="#privateDNSwVPN">¶</a></h4>
						<ul>
							<li>If you want to use the built-in content blocker of DivestOS you must enable Private DNS.</li>
							<li>If you use NetGuard/RethinkDNS/DNS66/Blokada or any VPN provider with a built-in content blocker you should disable Private DNS.</li>
							<li>If you're using Tor via Orbot's VPN mode and want an app to access Onion Services you must disable Private DNS.</li>
							<li>Otherwise you should consider what you value more: the content blocker or ensuring the VPN handles DNS.</li>
							<li>In the case you do use Private DNS with Tor or a real VPN, the Private DNS host will not learn your true IP as the requests will be routed over the VPN slot.</li>
						</ul>

						<h4 id="networkControl">How do I control network access for an app?<a href="#networkControl">¶</a></h4>
						<ul>
							<li>For simply blocking an app from say using mobile data, use the built-in data restrictions: App info > Mobile data & Wi-fi</li>
							<li>For completely denying an app access to networking functions entirely, revoke the Network permission: App info > Permissions > Network</li>
							<li>For blocking ads/trackers: that is already done via the built-in content filter and there is nothing to configure.</li>
						</ul>

						<h4 id="contentBlocker">XYZ website is blocked! How do I disable the content blocker?<a href="#contentBlocker">¶</a></h4>
						<p>Settings > Security > Disable DNS content blocker > Enabled</p>

						<h4 id="stableMAC">How to set a stable MAC address for a specific Wi-Fi network?<a href="#stableMAC">¶</a></h4>
						<p>Settings > Network & internet > Internet > Tap the gear next to the specific Wi-Fi network > Privacy > Use per-network randomized MAC.</p>

						<h4 id="dualVPN">How can I use two VPNs at once?<a href="#dualVPN">¶</a></h4>
						<p>You cannot chain VPNs, but you can route different apps through different VPNs via the work profile feature enabled through an app like Shelter. Your main profile can have one VPN, and your work profile another. This is very useful for eg. main profile through Orbot/Tor and work profile via a trusted or self-hosted VPN.</p>

						<h4 id="workVPN">Why won't my work profile use my main profile VPN?<a href="#workVPN">¶</a></h4>
						<p>Profiles are completely separate in that regard. You must setup your preferred VPN in the work profile too.</p>

						<h4 id="tetherVPN">Can I route connected hotspot devices via the VPN?<a href="#tetherVPN">¶</a></h4>
						<p>Yes, you can route them via the main profile VPN. Enable this in Settings > Network & internet > Hotspot & tethering > Allow clients to use VPNs.</p>
					</div>

					<div class="section">
						<h3 id="freedom">Freedom<a href="#freedom">¶</a></h3>

						<h4 id="proprietary-git">Why are you hosting on GitHub.com and GitLab.com if they are proprietary?<a href="#proprietary-git">¶</a></h4>
						<p>Because a lot of people have existing accounts on them which reduces the barrier to entry for contributing. You are otherwise free to contribute via Codeberg or e-mail patches to us if you prefer.</p>

						<h4 id="slowDeath">Why are you wasting your time with Android? It's clear that Google has been slowly killing AOSP every release!<a href="#slowDeath">¶</a></h4>
						<p>Android is a legitimately fantastic operating system and no other mobile platform has as many open source apps as it does. F-Droid as of February 2023 has over 4,000 FOSS apps!</p>
					</div>

					<div class="section">
						<h3 id="other">Other Things<a href="#other">¶</a></h3>

						<h4 id="community">Where can I talk to other users?<a href="#community">¶</a></h4>
						<p>Please see the <a href="/pages/community">community</a> page.</p>

						<h4 id="pronounce">How do you say DivestOS?<a href="#pronounce">¶</a></h4>
						<ul>
							<li>[die-vEst OH ES]</li>
							<li>/daɪˈvɛstˌoʊ ˈɛs/</li>
						</ul>

						<h4 id="recommendedServices">What VPN/email/boat rental services do you recommend?<a href="#recommendedServices">¶</a></h4>
						<p>¯\_(ツ)_/¯</p>

						<h4 id="rom">Why does DivestOS not use the word "ROM" anywhere on its website?<a href="#rom">¶</a></h4>
						<p>DivestOS is an aftermarket operating system with a strict set of standards it strives to achieve.<br>Not a poorly documented, code over the wall, haphazardly maintained "ROM".</p>

						<h4 id="misconceptions">What are some misconceptions I should be aware of?<a href="#misconceptions">¶</a></h4>
						<ul>
							<li>If you encounter a serious issue, wiping is almost never the solution.</li>
							<li>In-place upgrades are supported whenever possible.</li>
							<li>Wiping cache does absolutely nothing.</li>
							<li>You can still install updates when the bootloader is locked.</li>
							<li>`fastboot update xyz.zip` does not replace your bootloader.</li>
							<li>UnifiedNlp is not required for apps to acquire location.</li>
							<li>Network location providers, such as Play and UnifiedNlp, do not make GPS acquire a lock quicker.</li>
						</ul>

						<h4 id="compileTime">How long does it take to compile all supported devices?<a href="#compileTime">¶</a></h4>
						<p>As of 2024/03/02, it takes a bit over two days on an all NVME, 64GB RAM, Ryzen 7950X system.</p>

						<h4 id="compileTimeDiff">Why do older branches compile quicker?<a href="#compileTimeDiff">¶</a></h4>
						<ul>
							<li>Older branches often have fewer 64-bit devices. This means only 32-bit code has to be compiled as opposed to 32-bit and 64-bit code.</li>
							<li>Older branches have less features/apps, which means less code to compile.</li>
							<li>Older branches have fewer devices that need to be compiled.</li>
							<li>Older branches compile with fewer compile-time sanitizers or optimizations.</li>
						</ul>

						<h4 id="preloading">I want to sell devices with DivestOS preloaded, what should I know?<a href="#preloading">¶</a></h4>
						<p>Selling devices with official builds of DivestOS installed is OKAY and within the license. Some preferred suggestions:</p>
						<ul>
							<li>Handle the sale in good faith.</li>
							<li>Do not market DivestOS as a magic bullet of privacy and/or security.</li>
							<li>Verify the GPG signature and checksums of the builds you download/install.</li>
							<li>Use Extirpater + factory reset to ensure no previous user data remains.</li>
							<li>Ensure the device firmware is up to date before flashing.</li>
							<li>Use the DivestOS recovery if supported.</li>
							<li>Do not modify any system or firmware partitions such as /system, /vendor, or /boot.</li>
							<li>Lock the bootloader if supported.</li>
							<li>If the device requires a token or keyfile to unlock the bootloader, provide it to the user.</li>
							<li>Leave it at the setup screen.</li>
							<li>Leave the default wallpaper.</li>
							<li>If you preload apps only source from the existing F-Droid repositories.</li>
						</ul>
						<p>If you are not using official builds of DivestOS:</p>
						<ul>
							<li>Make it clear to your users that it is unofficial.</li>
							<li>Use the branding variables in the scripts to rebrand it.</li>
							<li>You must make your sources available to your users as per the original repositories' respective licenses. Compliance is mandatory!</li>
							<li>Consider upstreaming any appropriate changes.</li>
						</ul>
					</div>
				</div>
