					<div class="section" id="XXXX-XX">
						<h3>XXX Update<a href="#XXXX-XX">¶</a></h3>
						<h4>App Updates</h4>
						<ul>
							<li>Updated Mull to <a href="https://www.mozilla.org/en-US/firefox/android/124.0/releasenotes/" target="_blank" rel="nofollow noopener noreferrer">124.0.0-1</a> and 124.1.0-1, has 16 and 2 security fixes respectively.</li>
						</ul>
					</div>
