				<div class="card fluid">
					<h2>Patch Counts</h2>
					<p>Below are counts and links to the corresponding ASB patchsets included in each branch every month.<br>A historical comparison of operating system patch levels is available <a href="/misc/a-dates.txt" target="_blank">here</a>, along with patch levels <a href="/pages/patch_levels" target="_blank">here</a>.</p>
					<p>Notes:
					<ul>
						<li>First column are CVE counts</li>
						<li>Version columns are PATCH counts</li>
						<li>Excludes date bumps and manifest changes</li>
						<li>Only counts system + kernel CVEs, vendor counts are not included</li>
					</ul></p>
					<p>Key:
					<ul>
						<li>s: system CVEs</li>
						<li>sp: system patches</li>
						<li>k: kernel CVEs</li>
						<li>kp: kernel patches</li>
						<li>b: alternate branch patches</li>
						<li>z: noted as abused in wild</li>
					</ul></p>
					<div class="section" id="branchPatchCounts">
						<h3>Branches<a href="#branchPatchCounts">¶</a></h3>
						<p>Last updated: 2024-03-15</p>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>ASB</th>
									<th>14.1</th>
									<th>15.1</th>
									<th>16.0</th>
									<th>17.1</th>
									<th>18.1</th>
									<th>19.1</th>
									<th>20.0</th>
								</tr>
							</thead>
							<tbody>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/docs/security/bulletin/2024-03-01" target="_blank" rel="nofollow noopener noreferrer">2024-03: 13s</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2024-03" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/26d99a04f098e2cf4607b368a83a3bbc65a2550e" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2024-03" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/1e8e187edeacac2e6f33388769d5c0a28af500e4" target="_blank" rel="nofollow noopener noreferrer">12sp</a><br><small>tavi</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2024-03" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>mse1969</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2024-03" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2024-03" target="_blank" rel="nofollow noopener noreferrer">10sp</a><br><small>haggertk</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/docs/security/bulletin/2024-02-01" target="_blank" rel="nofollow noopener noreferrer">2024-02: 15s</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2024-02" target="_blank" rel="nofollow noopener noreferrer">3sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/af57acc0859f7917a0c188926bc94a71b03c03cc" target="_blank" rel="nofollow noopener noreferrer">4sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2024-02" target="_blank" rel="nofollow noopener noreferrer">5sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2024-02" target="_blank" rel="nofollow noopener noreferrer">10sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2024-02" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2024-02" target="_blank" rel="nofollow noopener noreferrer">17sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2024-02" target="_blank" rel="nofollow noopener noreferrer">19sp</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/docs/security/bulletin/2024-01-01" target="_blank" rel="nofollow noopener noreferrer">2024-01: 10s</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2024-01" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/4fae529ddc9a1cc602e0e337269121aa51307d84" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2024-01" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2024-01" target="_blank" rel="nofollow noopener noreferrer">14sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2024-01" target="_blank" rel="nofollow noopener noreferrer">14sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2024-01" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2024-01" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-12-01" target="_blank" rel="nofollow noopener noreferrer">2023-12: 34s/3z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-12" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/9926f25ada405eca868dd5ad9c33d40c9b60ec12" target="_blank" rel="nofollow noopener noreferrer">15sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-12" target="_blank" rel="nofollow noopener noreferrer">21sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-12" target="_blank" rel="nofollow noopener noreferrer">47sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-12" target="_blank" rel="nofollow noopener noreferrer">35sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-12" target="_blank" rel="nofollow noopener noreferrer">43sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-12" target="_blank" rel="nofollow noopener noreferrer">38sp</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-11-01" target="_blank" rel="nofollow noopener noreferrer">2023-11: 15s</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-11" target="_blank" rel="nofollow noopener noreferrer">3sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/5a87cd6bcba39b006f977a0e1e8bb20c2562d973" target="_blank" rel="nofollow noopener noreferrer">5sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-11" target="_blank" rel="nofollow noopener noreferrer">10sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-11" target="_blank" rel="nofollow noopener noreferrer">14sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-11" target="_blank" rel="nofollow noopener noreferrer">14sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-11" target="_blank" rel="nofollow noopener noreferrer">12sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-11" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-10-01" target="_blank" rel="nofollow noopener noreferrer">2023-10: 25s/2z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-10" target="_blank" rel="nofollow noopener noreferrer">6sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/f5da93c4e57f947ea687467254afada4473632d2" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-10" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-10" target="_blank" rel="nofollow noopener noreferrer">11sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-10" target="_blank" rel="nofollow noopener noreferrer">19sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-10" target="_blank" rel="nofollow noopener noreferrer">20sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-10" target="_blank" rel="nofollow noopener noreferrer">20+9sp</a><br><small>haggertk</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-09-01" target="_blank" rel="nofollow noopener noreferrer">2023-09: 20s/1z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-09" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/3aa7e024550bb319f80f00653a33a5dc4651b7e1" target="_blank" rel="nofollow noopener noreferrer">10sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-09" target="_blank" rel="nofollow noopener noreferrer">12sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-09" target="_blank" rel="nofollow noopener noreferrer">22sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-09" target="_blank" rel="nofollow noopener noreferrer">26sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-09" target="_blank" rel="nofollow noopener noreferrer">27sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-09" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>haggertk & mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-08-01" target="_blank" rel="nofollow noopener noreferrer">2023-08: 32s/2k</a></td>
	<td data-label="14.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/51bcf23daca2a496abf480097fae9aa4e4e6e58a" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>tavi</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/79e3fb6fb4f653a7e708a874c06e281041104134" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-08" target="_blank" rel="nofollow noopener noreferrer">14sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-08" target="_blank" rel="nofollow noopener noreferrer">15sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-08" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-08" target="_blank" rel="nofollow noopener noreferrer">24sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-08" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-07-01" target="_blank" rel="nofollow noopener noreferrer">2023-07: 23s/3k/3z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-07" target="_blank" rel="nofollow noopener noreferrer">6sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/9d6662dee785a85558baaf4a96cbc1e31f680631" target="_blank" rel="nofollow noopener noreferrer">6sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-07" target="_blank" rel="nofollow noopener noreferrer">12sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-07" target="_blank" rel="nofollow noopener noreferrer">17+2sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-07" target="_blank" rel="nofollow noopener noreferrer">20sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-07" target="_blank" rel="nofollow noopener noreferrer">20sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-07" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-06-01" target="_blank" rel="nofollow noopener noreferrer">2023-06: 23s/1z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-06" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/8c7f3daa0099220744a9fb000571ebc16a748b43" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-06" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-06" target="_blank" rel="nofollow noopener noreferrer">25sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-06" target="_blank" rel="nofollow noopener noreferrer">26sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-06" target="_blank" rel="nofollow noopener noreferrer">26sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-06" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-05-01" target="_blank" rel="nofollow noopener noreferrer">2023-05: 16s/3k/2z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-05" target="_blank" rel="nofollow noopener noreferrer">5sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/6fb0a581c3bac3abae28b7ba05d3377cdc441180" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-05" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-05" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-05" target="_blank" rel="nofollow noopener noreferrer">15sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-05" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-05" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-04-01" target="_blank" rel="nofollow noopener noreferrer">2023-04: 26s/2k/2z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-04" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/26cf500dad94c862a8c6496146ae57d49cc79953" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-04" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-04" target="_blank" rel="nofollow noopener noreferrer">21sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-04" target="_blank" rel="nofollow noopener noreferrer">22sp/3b</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-04" target="_blank" rel="nofollow noopener noreferrer">28sp/3b</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-04" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-03-01" target="_blank" rel="nofollow noopener noreferrer">2023-03: 26s/1k/1z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-03" target="_blank" rel="nofollow noopener noreferrer">5sp</a><br><small>syphyr & mse1969</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/2c17747c825fa68a7fbd2df4beee03cdc9d21620" target="_blank" rel="nofollow noopener noreferrer">6sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-03" target="_blank" rel="nofollow noopener noreferrer">10sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-03" target="_blank" rel="nofollow noopener noreferrer">20sp</a><br><small>flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-03" target="_blank" rel="nofollow noopener noreferrer">21sp/2b</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-03" target="_blank" rel="nofollow noopener noreferrer">24sp/2b</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-03" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-02-01" target="_blank" rel="nofollow noopener noreferrer">2023-02: 16s/6k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-02" target="_blank" rel="nofollow noopener noreferrer">6sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/b2913e8170773d2305c3db5ceadc66fbbcf27b22" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-02" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-02" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-02" target="_blank" rel="nofollow noopener noreferrer">14sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-02" target="_blank" rel="nofollow noopener noreferrer">24sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-02" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-01-01" target="_blank" rel="nofollow noopener noreferrer">2023-01: 19s/6k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-01" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/b143ffcd8b3e58aaf29f72362949b31016ad413a" target="_blank" rel="nofollow noopener noreferrer">12sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>haggertk & flamefire</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">17sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-12-01" target="_blank" rel="nofollow noopener noreferrer">2022-12: 41s/1k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-12" target="_blank" rel="nofollow noopener noreferrer">14sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/1eb373d1e0d966e48f261f762fdd8d002742bbe3" target="_blank" rel="nofollow noopener noreferrer">21sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-12" target="_blank" rel="nofollow noopener noreferrer">26sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-12" target="_blank" rel="nofollow noopener noreferrer">35sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-12" target="_blank" rel="nofollow noopener noreferrer">49sp/2b</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-12" target="_blank" rel="nofollow noopener noreferrer">43sp/2b</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2022-12" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-11-01" target="_blank" rel="nofollow noopener noreferrer">2022-11: 17s</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-11" target="_blank" rel="nofollow noopener noreferrer">11sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/9d1efb33c30775b0f9bd92e1a8daa4a0338e7ca9" target="_blank" rel="nofollow noopener noreferrer">15sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-11" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-11" target="_blank" rel="nofollow noopener noreferrer">22sp/2b</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-11" target="_blank" rel="nofollow noopener noreferrer">22sp/2b</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-11" target="_blank" rel="nofollow noopener noreferrer">22sp/2b</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2022-11" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-10-01" target="_blank" rel="nofollow noopener noreferrer">2022-10: 15s/5k/1z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-10" target="_blank" rel="nofollow noopener noreferrer">2sp</a><br><small>vasek</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/006f128fc55f69be144290fd5453c23f843b715e" target="_blank" rel="nofollow noopener noreferrer">2sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-10" target="_blank" rel="nofollow noopener noreferrer">5sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-10" target="_blank" rel="nofollow noopener noreferrer">15sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-10" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-10" target="_blank" rel="nofollow noopener noreferrer">15sp</a><br><small>haggertk</small></td>
	<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2022-10" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-09-01" target="_blank" rel="nofollow noopener noreferrer">2022-09: 12s/4k/1z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-09" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/e2b314da3c1ed3ab5e600d01cb7b56eba7ea16bd" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-09" target="_blank" rel="nofollow noopener noreferrer">11sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-09" target="_blank" rel="nofollow noopener noreferrer">12sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-09" target="_blank" rel="nofollow noopener noreferrer">12sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-09" target="_blank" rel="nofollow noopener noreferrer">12sp</a><br><small>haggertk</small></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-08-01" target="_blank" rel="nofollow noopener noreferrer">2022-08: 17s/1k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-08" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-08" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-08" target="_blank" rel="nofollow noopener noreferrer">18sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-08" target="_blank" rel="nofollow noopener noreferrer">21sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-08" target="_blank" rel="nofollow noopener noreferrer">27sp</a><br><small>haggertk</small></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-07-01" target="_blank" rel="nofollow noopener noreferrer">2022-07: 12s/1k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-07" target="_blank" rel="nofollow noopener noreferrer">6sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">6sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-07" target="_blank" rel="nofollow noopener noreferrer">12sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-07" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-07" target="_blank" rel="nofollow noopener noreferrer">15sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-07" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>mkbestas</small></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-06-01" target="_blank" rel="nofollow noopener noreferrer">2022-06: 20s/6k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-06" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">18sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-06" target="_blank" rel="nofollow noopener noreferrer">24sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-06" target="_blank" rel="nofollow noopener noreferrer">24sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-06" target="_blank" rel="nofollow noopener noreferrer">23sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-06" target="_blank" rel="nofollow noopener noreferrer">merge/7sp</a><br><small>mkbestas & bgcngm</small></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-05-01" target="_blank" rel="nofollow noopener noreferrer">2022-05: 13s/4k/2z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-05" target="_blank" rel="nofollow noopener noreferrer">1sp</a><br><small>mse1969</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">2sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-05" target="_blank" rel="nofollow noopener noreferrer">5sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-05" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-05" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-05" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>haggertk</small></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-04-01" target="_blank" rel="nofollow noopener noreferrer">2022-04: 12s/4k/2z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-04" target="_blank" rel="nofollow noopener noreferrer">2sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">3sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-04" target="_blank" rel="nofollow noopener noreferrer">4sp</a><br><small>haggertk & mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-04" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-04" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>haggertk</small></td>
	<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-04" target="_blank" rel="nofollow noopener noreferrer">merge/2sp</a><br><small>mkbestas & bgcngm</small></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-03-01" target="_blank" rel="nofollow noopener noreferrer">2022-03: 17s/5k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-03" target="_blank" rel="nofollow noopener noreferrer">3sp</a><br><small>syphyr & mse1969</small></td>
	<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">3sp</a><br><small>tavi</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-03" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>mse1969</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-03" target="_blank" rel="nofollow noopener noreferrer">14sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-03" target="_blank" rel="nofollow noopener noreferrer">19sp</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-02-01" target="_blank" rel="nofollow noopener noreferrer">2022-02: 15s</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-02" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2022-02" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-02" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-02" target="_blank" rel="nofollow noopener noreferrer">12sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-02" target="_blank" rel="nofollow noopener noreferrer">1sp/previous</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-01-01" target="_blank" rel="nofollow noopener noreferrer">2022-01: 16s/2k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-01" target="_blank" rel="nofollow noopener noreferrer">4sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2022-01" target="_blank" rel="nofollow noopener noreferrer">8sp/5b</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-01" target="_blank" rel="nofollow noopener noreferrer">9sp/6b</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-01" target="_blank" rel="nofollow noopener noreferrer">12sp/8b</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-01" target="_blank" rel="nofollow noopener noreferrer">13sp/10b</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-12-01" target="_blank" rel="nofollow noopener noreferrer">2021-12: 16s/3k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-12" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-12" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-12" target="_blank" rel="nofollow noopener noreferrer">10sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-12" target="_blank" rel="nofollow noopener noreferrer">15sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2021-12" target="_blank" rel="nofollow noopener noreferrer">19sp</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-11-01" target="_blank" rel="nofollow noopener noreferrer">2021-11: 18s/3k/2z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-11" target="_blank" rel="nofollow noopener noreferrer">5sp</a><br><small>vasek</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-12" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-11" target="_blank" rel="nofollow noopener noreferrer">10sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-11" target="_blank" rel="nofollow noopener noreferrer">8sp/2b</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2021-11" target="_blank" rel="nofollow noopener noreferrer">16sp/2b</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-10-01" target="_blank" rel="nofollow noopener noreferrer">2021-10: 10s/3k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-10" target="_blank" rel="nofollow noopener noreferrer">6sp</a><br><small>syphyr & vasek</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-10" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-10" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-10" target="_blank" rel="nofollow noopener noreferrer">11sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r46" target="_blank" rel="nofollow noopener noreferrer">merge/1b</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-09-01" target="_blank" rel="nofollow noopener noreferrer">2021-09: 16s/1k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-09" target="_blank" rel="nofollow noopener noreferrer">10sp</a><br><small>syphyr & vasek</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-09" target="_blank" rel="nofollow noopener noreferrer">11sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-09" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-09" target="_blank" rel="nofollow noopener noreferrer">18sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r43" target="_blank" rel="nofollow noopener noreferrer">merge/1b</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-08-01" target="_blank" rel="nofollow noopener noreferrer">2021-08: 9s/3k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-08" target="_blank" rel="nofollow noopener noreferrer">5sp</a><br><small>vasek</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-08" target="_blank" rel="nofollow noopener noreferrer">6sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-08" target="_blank" rel="nofollow noopener noreferrer">7sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-08" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r40" target="_blank" rel="nofollow noopener noreferrer">merge</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-07-01" target="_blank" rel="nofollow noopener noreferrer">2021-07: 21s</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-07" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>syphyr & vasek</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-07" target="_blank" rel="nofollow noopener noreferrer">17sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-07" target="_blank" rel="nofollow noopener noreferrer">17sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-07" target="_blank" rel="nofollow noopener noreferrer">22sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r39" target="_blank" rel="nofollow noopener noreferrer">merge/1sp</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-06-01" target="_blank" rel="nofollow noopener noreferrer">2021-06: 18s/2k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-06" target="_blank" rel="nofollow noopener noreferrer">6sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-06" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-06" target="_blank" rel="nofollow noopener noreferrer">18sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-06" target="_blank" rel="nofollow noopener noreferrer">21sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r38" target="_blank" rel="nofollow noopener noreferrer">merge/2sp/6b</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-05-01" target="_blank" rel="nofollow noopener noreferrer">2021-05: 14s/1k/4z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-05" target="_blank" rel="nofollow noopener noreferrer">4sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-05" target="_blank" rel="nofollow noopener noreferrer">6sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-05" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-05" target="_blank" rel="nofollow noopener noreferrer">22sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r37" target="_blank" rel="nofollow noopener noreferrer">merge/5sp</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-04-01" target="_blank" rel="nofollow noopener noreferrer">2021-04: 19s/2k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-04" target="_blank" rel="nofollow noopener noreferrer">8sp</a><br><small>vasek</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-04" target="_blank" rel="nofollow noopener noreferrer">16sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-04" target="_blank" rel="nofollow noopener noreferrer">17sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-04" target="_blank" rel="nofollow noopener noreferrer">28sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r34" target="_blank" rel="nofollow noopener noreferrer">merge/3sp</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-03-01" target="_blank" rel="nofollow noopener noreferrer">2021-03: 10s/1k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-03" target="_blank" rel="nofollow noopener noreferrer">9sp</a><br><small>vasek</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-03" target="_blank" rel="nofollow noopener noreferrer">11sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-03" target="_blank" rel="nofollow noopener noreferrer">11sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-03" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>haggertk</small></td>
	<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r32" target="_blank" rel="nofollow noopener noreferrer">merge/2sp/2b</a><br><small>haggertk & bgcngm</small></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-02-01" target="_blank" rel="nofollow noopener noreferrer">2021-02: 20s/1k</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-02" target="_blank" rel="nofollow noopener noreferrer">11sp</a><br><small>syphyr</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-02" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-02" target="_blank" rel="nofollow noopener noreferrer">17sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-02" target="_blank" rel="nofollow noopener noreferrer">20sp</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-01-01" target="_blank" rel="nofollow noopener noreferrer">2021-01: 22s/3k/1z</a></td>
	<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-01" target="_blank" rel="nofollow noopener noreferrer">13sp</a><br><small>vasek & syphyr</small></td>
	<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-01" target="_blank" rel="nofollow noopener noreferrer">18sp</a><br><small>haggertk</small></td>
	<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-01" target="_blank" rel="nofollow noopener noreferrer">21sp</a><br><small>haggertk</small></td>
	<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-01" target="_blank" rel="nofollow noopener noreferrer">23sp</a><br><small>haggertk</small></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
							</tbody>
						</table>
					</div>
				</div>
